**/.ipynb_checkpoints/
**/.virtual_documents/
__pycache__/
input/
output/
src/sources/
input_pdf_01/
input_pdf_02/

mff_2028_2034/base_2024.csv
mff_2028_2034/output/
mff_2028_2034/MFF_EDA.ipynb

*.parquet
*.xlsx
*.docx
*.png
*.csv
Rplots.pdf
play.ipynb
sandbox.ipynb
adatok.db

mff_2028_2034/sources/
